# General_ignore
*.obj
*.gch
*.pch

#*.lib
*.dll

*.exe
*.out

*.opensdf
*.sdf
*.aps
*.ipch

*.tlog

# Debug & Release & GeneratedFiles
Win32/
Debug/
GeneratedFiles/

#HCI_Config
HCI_AUTH
HCI_USER_INFO
